* {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  background-color: #ddd;
  }

  header {
  height: 100px;
  background-color: #000;
  color: #c295d1;
  border: 0px;
}


.center {
  background-color: #fff;
  margin: auto;
  width: 800px;
  height: calc(100vh - 100px);
}
footer {
  background-color: #000;
  border: 0px;
  width: 800px;
  height: 100px;
  margin: auto;

/*you can also do clockwise padding starting at top by writing:
padding: 20px 15px 20px 15px;*/
}
